body{
    background-image:url('https://api.живуспортом.рф/imagecache/full/editor/14/13062/5bed9570c0bf8.jpeg');
    opacity: .8;
}
h1, h2 {
    text-align: center;
}
.float-left{
    
    max-width: 800px;
    margin: 30px;
    margin-left: 300px;
}